{% extends 'food/base.html' %}
{% block title %}Mes Aliments{% endblock title %}
{% block content %}

<header class="my_food text-center d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Mes Aliments</h1>
      </div>
    </div>
  </div>
</header>

<section class="pad_title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">                  
        <h2 class="section-heading">Ma liste de produits bons et sains :</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
</section>

<!-- Showing the list of the selected products by the user, maximum 6 by page -->
<section class="p-0">
  <div class="container">
    <div class="row pad_items">
      
      {% for food_saved in foods_saved %}
      <div class="col-md-4 col-xs-12">
        <a class="portfolio-box badge1" data-badge="{{ food_saved.nutrition_grade }}" href="{{ food_saved.image_food }}">
          <figure>
            <img class="img-fluid img_center" src="{{ food_saved.image_food }}" alt="{{ food_saved.name }}" width="100%">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Photo
                  </div>
                  <div class="project-name">
                    {{ food_saved.name }}
                  </div>
                </div>
              </div></a>
            <figcaption class="food_items"><a href="{% url 'foodinfo' pk=food_saved.id %}">{{ food_saved.name|truncatechars:20 }}</a></figcaption>
            <!-- Showing the erase icon to delete a selected product into the database -->
              <form method="post">
                {% csrf_token %}
                <input type="hidden" name="food_saved_delete" value="{{ food_saved.id }}">
                <figcaption class="save"><button><span class="fa fa-trash fa-4"> Supprimer</span></button></figcaption>
              </form>
          </figure>
      </div>

        <!-- Only 3 food products per row -->
        {% if forloop.counter|divisibleby:3 %}
          <div class="row popup-gallery pad_items"></div>
        {% endif %}

      <!-- In case there isn't any saved substitute product into the database -->
      {% empty %}
        <h4>Vous n'avez pas encore sauvegardé d'aliment dans votre portefeuille de produits sains.<br>N'hésitez pas à en chercher dans notre base de données depuis notre <a href="{% url 'home' %}">page d'accueil</a>.</h4><br><br>

      {% endfor %}
    </div>
  </div>
</section>

  <!-- Selected food deleted confirmation message -->
  {% if selected_deleted %}
    <script>alert("Aliment supprimé de votre portefeuille de produits sains.");</script>
  {% endif %}

<!-- Pagination -->
  {% if paginate %}
    <nav aria-label="pagination example">
      <ul class="pagination justify-content-center">
        <!--Previous button-->
        {% if foods_saved.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ foods_saved.previous_page_number }}" tabindex="-1">Page précédente</a>
        </li>
        {% endif %}
        <!--Next button-->
        {% if foods_saved.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ foods_saved.next_page_number }}">Page suivante</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endblock content %}
